<div menu-title="WCS"></div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="loading"></span>

<div>
  <div class="pageHeading"><b>About</b></div>
  <div class="mainContent">
    <div class="grid-75">
      <div class="aboutPageContainer">


        <table class="table table-primary striped">
          <tr>
            <thead>
            <tr>
              <th>Application Details</th>

              <th></th>
            </tr>
            </thead>
            <tbody>
            <td class="aboutCell">
              Application Name
            </td>
            <td class="aboutCell">
              {{aboutResponse.appName}}
            </td>
            <tr>
              <td class="aboutCell">
                Application Version
              </td>
              <td class="aboutCell">
                {{aboutResponse.appVersion}}
              </td>
            </tr>
           <!-- <tr>
              <td class="aboutCell">
                Application Environment
              </td>
              <td class="aboutCell">
                {{AboutResponse.appEnvironment}}
              </td>
            </tr>
            <tr>
              <td class="aboutCell">
                Application Context Root
              </td>
              <td class="aboutCell">
                {{AboutResponse.appContextRoot}}
              </td>
            </tr>-->
           <!-- <tr>
              <td class="aboutCell">
                Application Start Time
              </td>
              <td class="aboutCell">
                {{AboutResponse.buildTime}}
              </td>
            </tr>-->
            </tbody>
        </table>

        <br>

        <table class="table table-primary striped">
          <tr>
            <thead>
            <tr>
              <th>User Details</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <td class="aboutCell">
              User Name
            </td>
            <td class="aboutCell">
              {{DabluGupta}}
            </td>
            </tr>
            <tr>
              <td class="aboutCell">
                User Sales ID
              </td>
              <td class="aboutCell">
                {{8024728}}
              </td>
            </tr>
            <tr>
              <td class="aboutCell">
                User Mainframe ID
              </td>
              <td class="aboutCell">
                {{DEVDPG1}}
              </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
